#LDAP Credentials
LDAP_CREDENTIALS = {}
LDAP_CREDENTIALS['dn'] = 'uid=root,cn=users,dc=example,dc=com'
LDAP_CREDENTIALS['password'] = 'passwordhere'

SERVER = 'ldaps://ldap01.example.com'

#Clickatell
CLICKATELL_CREDENTIALS = {}
CLICKATELL_CREDENTIALS['username'] = 'clickatelluser'
CLICKATELL_CREDENTIALS['password'] = 'clickatellpw'
CLICKATELL_CREDENTIALS['apiID'] = 'clickatellapi'

#Options
OPTIONS = {}
#if offline mode is 1, don't bother with auth - just return a static file
OPTIONS['OFFLINE_MODE'] = 0
#path to the static file you want to return in offline mode
OPTIONS['OFFLINE_FILE'] = 'static/dump.json'

#Testing
TEST = {}
TEST['ADMINUSER'] = 'admin'
TEST['ADMINPASS'] = 'ldaptest'
TEST['UPUSER'] = 'tfoolery'
TEST['UPPASS'] = 'starwars2'
TEST['UID'] = 'tfoolery' #a user we can modify without worries.
