<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button noprint">
    <div class="mdl-layout-icon"></div>
    <div style="border:none;"class="mdl-layout__drawer">
        <nav class="mdl-navigation">

            <a class="mdl-navigation__link" ui-sref="admin.profile">Profile</a>
            <a class="mdl-navigation__link" ui-sref="admin.register">Register</a>
            <a class="mdl-navigation__link" ui-sref="admin.reports">Reports</a>
            <a class="mdl-navigation__link" ng-click="showAllGroups()" ui-sref="admin.groups">Groups</a>
            <a class="mdl-navigation__link" ui-sref="admin.MissingInfo">Missing Information</a>
            <a class="mdl-navigation__link" ui-sref="admin.inactiveStaffReport">Inactive Staff Report</a>
            <a class="mdl-navigation__link" ui-sref="admin.documentReport">Document Report</a>
            <a class="mdl-navigation__link" ui-sref="admin.employeeReport">Employee Report</a>
        </nav>
    </div>

  </div>
<div>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div id="demo-ribbon" class="noprint"></div>
          <main class="demo-main mdl-layout__content">
           <div class="content1">
              <div id="header" class="demo-container mdl-grid">
                <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="demo-content1 mdl-color--white  content mdl-cell mdl-cell--10-col">

                  <div class="row noprint" id="demo-header">
                    <div class="col-xs-6 col-md-6" style="color:white;">
                      <div class="ahem">AHEM</div>
                      <div class="ahemtext"><span>Asian Hope Employee Management</span></div>
                      <span style="font-size:17px;color:white"></span>
                  </div>
                    <div class="col-xs-6 col-md-6">
                      <input id="search" ng-keypress="keyPressBack();" placeholder="Hit / to Search" ng-model="query" class="search_box form-control" autofocus="true" type="text" style=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content2">
              <div class="demo-container mdl-grid mdl-tabs mdl-js-tabs" ng-hide="showInclude"style="padding:0; position:relative; margin-top:-15px;" >
                <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="demo-content content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col" style="margin-bottom:0;">

                  <div class="mdl-tabs__tab-bar" style="border:none;">
                    <a href ng-click="refreshEmployeeData()" class="mdl-tabs__tab">All STAFF</a>
                    <a href ng-click="showRequestedAccounts()" class="mdl-tabs__tab">REQUESTS</a>
                    <a href ng-click="showDisabledAccounts()" class="mdl-tabs__tab">DISABLE</a>
                    <a href ng-click="showInactiveAccounts()" class="mdl-tabs__tab">INACTIVE</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="content3">
              <div class="demo-container mdl-grid">
                <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div style="margin-top:0;"class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                  <img ng-show="loading" style="display:block; margin-left:auto; margin-right:auto;" src="../img/load.GIF" alt="loading image"/>
                  <div ng-hide="loading" class="col-xs-12 col-md-12" style="margin-bottom: 15px;">
                    <div ng-if="showInclude" style="margin-top:20px;">
                      <div ui-view>
                      </div>
                    </div>
                    <staff-list style="width:100%;"  ng-if="!showInclude"></staff-list>
                  </div>
              </div>
              </div>
          </div>
          </main>
        </div>
        <a ui-sref="admin.register" class="noprint">
          <button id="btn_register" style="background:#488FCC;" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--accent">
            <i id="icon_float_register" class="material-icons">add</i>
          </button>
        </a>
        <a ui-sref="admin" class="noprint">
          <button ng-if="showInclude" ng-click="clearform(); this.tab.setTab(3)" id="back" style="background:#488FCC;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--accent">
            <i id="icon_float_button_back" class="material-icons">arrow_back</i>
          </button>
        </a>
  </div>
  <style type="text/css">
    .active_menu{
      border-bottom: 3px solid white;
    }
    .stafflist_tab_active{
      border-bottom: 2px solid white !important;
    }
    .stafflist_tab li a{
      color: white;
      padding-bottom: 0 !important;
    }
    .stafflist_tab li a:hover{
      color: grey;
    }
  </style>
  <script>
  $(document).ready(function(){
        $("#menu_image").click(function()
        {
          if($(".collape").css("margin-left") == "-125px")
          {
            $('.collape').animate({"margin-left": '+=125'});
          }
          else
          {
            $('.collape').animate({"margin-left": '-125'});
          }
        });
        $(".collape").mouseleave(function(){
          $('.collape').animate({"margin-left": '-125'});
        });
        $(".collape li a").click(function() {
          $(".collape li a").removeClass("active_menu");
          $(this).addClass("active_menu");
        });
        $(".stafflist_tab li a").click(function() {
          console.log("clicked");
          $(".stafflist_tab  li a").removeClass("stafflist_tab_active");
          $(this).addClass("stafflist_tab_active");
        });
        // $(window).scroll(function() {
        //   console.log($(this).scrollTop());
        //   if ($(this).scrollTop() >260) {
        //       $(".menu").css("position", "fixed");
        //       $(".menu").css("top", "0px");
        //       $("#menu_image").css("background", "#488FCC");
        //   }
        //   else {
        //       $(".menu").css("position", "absolute");
        //       $(".menu").css("top", "174px");
        //   }
        //   });
    });
  </script>
