<div class="container">
    <div class="page-header noprint">
        <h1>*AHEM*<small> - Asian Hope Employee Management</small></h1>
    </div>
<!-- If logged in !-->
     <div ng-controller="EmployeeListController as elist">
     <ul class = "nav nav-tabs noprint">
         <li ng-class="{ active:this.tab.isSet(1)}">
             <a href ng-click="this.tab.setTab(1);elist.selectSelf()">My Profile</a>
         </li>
         <li ng-class="{ active:this.tab.isSet(2) }">
             <a href ng-click="this.tab.setTab(2)">Register a new account</a>
         </li>
         <li ng-class="{ active:this.tab.isSet(3) }">
             <a href ng-click="this.tab.setTab(3)">Browse staff info</a>
         </li>
         <li ng-class="{ active:this.tab.isSet(4) }">
             <a href ng-click="this.tab.setTab(4)">Log</a>
         </li>
         <li ng-class="{ active:this.tab.isSet(5) }">
             <a href ng-click="this.tab.setTab(5)">Reports</a>
         </li>
     </ul>

     <div ng-show="this.tab.isSet(1)">
       <view-self> </view-self>
     </div>
     <div ng-show="this.tab.isSet(2)">
         <new-staff></new-staff>
     </div>
     <div ng-show="this.tab.isSet(3)">
         <staff-list></staff-list>
     </div>
     <div ng-show="this.tab.isSet(4)">
         <h1>Log</h1>
         <ahemlog></ahemlog>
     </div>
     <div ng-show="this.tab.isSet(5)">
         <reports></reports>
     </div>
   </div>

 <!-- If not logged in !-->
</div>
