<div ng-controller="EmployeeListController as elist">
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="menu noprint">
        <div>
          <img title="Main Menu" style="" id="menu_image"  src="img/Menu-50.png"/>
        </div>
        <div class="collape">
          <ul id="dropdown_menu">
            <li><a ng-class="{active_menu: $state.includes('admin.profile')}" ui-sref="admin.profile">My Profile</a></li>
            <li><a ng-class="{active_menu: $state.includes('admin.register')}" ui-sref="admin.register">Register</a></li>
            <li><a ng-class="{active_menu: $state.includes('admin.reports')}" ui-sref="admin.reports">Reports</a></li>
            <li><a ng-click="showAllGroups()" ng-class="{active_menu: $state.includes('admin.groups')}" ui-sref="admin.groups">Groups</a></li>
            <li><a ng-class="{active_menu: $state.includes('admin.MissingInfo')}" ui-sref="admin.MissingInfo">Missing Information</a></li>

          </ul>
        </div>
      </div>
      <div id="demo-ribbon" class="noprint"></div>
          <main class="demo-main mdl-layout__content">
            <div id="header" class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="demo-content1 mdl-color--white  content mdl-cell mdl-cell--10-col">

                <div class="row noprint" id="demo-header">
                  <div class="col-xs-6 col-md-6" style="color:white;">
                    <a style="color:white !important; text-decoration: none;"href ui-sref="admin">
                      <div style="font-size:85px; margin-top:45px; font-weight:bold;">AHEM</div>
                    </a>
                    <div style="margin-top:20px;"><p style="font-size: 15px;">Asian Hope Employee Management</p></div>

                  </div>
                  <div class="col-xs-6 col-md-6">
                    <input id="search" ng-keypress="keyPressBack();" placeholder="Hit / to Search"ng-model="query" class="form-control" autofocus="true" type="text" style="font-size:25px; font-style:italic; color:gray; width:60%;height:80px; float:right; margin-top:20px;"/>
                  </div>
                </div>
              </div>
            </div>
            <div ng-hide="showInclude"style="padding:0; position:relative; margin-top:-28px;" class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <ul class = "stafflist_tab nav nav-tabs" style="border-bottom:none !important;">
                  <li>
                      <a style="border-bottom:none !important;" onmouseover="this.style.background='#488FCC'; this.style.border='none';">YOU ARE SEARCHING :</a>
                  </li>
                  <li>
                      <a href ng-click="refreshEmployeeData()">ALL STAFF</a>
                  </li>
                  <li>
                      <a href ng-click="showRequestedAccounts()">REQUESTS</a>
                  </li>
                  <li>
                      <a href ng-click="showDisabledAccounts()">DISABLE</a>
                  </li>
                  <li>
                      <a href ng-click="showInactiveAccounts()">INACTIVE</a>
                  </li>
              </ul>
            </div>

            <div class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                <img ng-show="loading" style="display:block; margin-left:auto; margin-right:auto;" src="../img/load.GIF" alt="loading image"/>
                <div ng-hide="loading" class="col-xs-12 col-md-12" style="  margin-bottom: 15px;">
                  <div ng-if="showInclude" style="margin-top:20px;">
                    <div ui-view>
                    </div>
                  </div>
                  <staff-list style="width:100%;"  ng-if="!showInclude"></staff-list>
                  <!-- <view-self ng-show="showlist==false"> </view-self> -->
                </div>
            </div>
            </div>
          </main>
        </div>
        <a ui-sref="admin.register" class="noprint">
          <button id="btn_register" style="width:100px; height:100px; background:#488FCC;" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--accent">
            <i style="font-size:57px; color:white; margin-left:-17px;"class="material-icons">add</i>
          </button>
        </a>
        <a ui-sref="admin" class="noprint">
          <button ng-if="showInclude" ng-click="clearform(); this.tab.setTab(3)" id="back" style="width:100px; height:100px; background:#488FCC;" class="back_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--accent">
            <i style="font-size:57px; color:white; margin-left:-17px;" class="material-icons">arrow_back</i>
          </button>
        </a>
  </div>
  <style type="text/css">
    .active_menu{
      border-bottom: 3px solid white;
    }
    .stafflist_tab_active{
      border-bottom: 2px solid white !important;
    }
    .stafflist_tab li a{
      color: white;
      padding-bottom: 0 !important;
    }
    .stafflist_tab li a:hover{
      color: grey;
    }
  </style>
  <script>
  $(document).ready(function(){
        $("#menu_image").click(function()
        {
          if($(".collape").css("margin-left") == "-125px")
          {
            $('.collape').animate({"margin-left": '+=125'});
          }
          else
          {
            $('.collape').animate({"margin-left": '-125'});
          }
        });
        $(".collape").mouseleave(function(){
          $('.collape').animate({"margin-left": '-125'});
        });
        $(".collape li a").click(function() {
          $(".collape li a").removeClass("active_menu");
          $(this).addClass("active_menu");
        });
        $(".stafflist_tab li a").click(function() {
          console.log("clicked");
          $(".stafflist_tab  li a").removeClass("stafflist_tab_active");
          $(this).addClass("stafflist_tab_active");
        });
        // $(window).scroll(function() {
        //   console.log($(this).scrollTop());
        //   if ($(this).scrollTop() >260) {
        //       $(".menu").css("position", "fixed");
        //       $(".menu").css("top", "0px");
        //       $("#menu_image").css("background", "#488FCC");
        //   }
        //   else {
        //       $(".menu").css("position", "absolute");
        //       $(".menu").css("top", "174px");
        //   }
        //   });
    });
  </script>
