<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/photobooth_min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../css/ah-staff.css">
  </head>
  <body>
    <div id="container" style="display:block;">
        <div class="card">
            <div class="logo"><img src = "../img/ahlogo.png" class = "logoimg" style="width: 100%"></div>
            <div id="photo" style="position:relative;" class="photo"><img id="cover" class="cover" src="../img/nophoto.jpg"/></div>
            <div class="name">Input a Name</div>
            <div class="title">Staff</div>
            <div class="barcode"><img id = "barcodeimg"/></div>
            <div class="barcodenumber">123</div>
            <div class="cardbody">
              <ul>
                <li id="dob">DOB: 15-08-1981</li>
                <li>Emergency Contact:</li>
                <li id="econtact1">017-XXX-XXXX</li>
                <li id="econtact2">024-XXX-XXXX</li>
              </ul>
            </div>
            <div class="footer"><img class="footerimg" src = "../img/ahfooter.png" style="width: 100%"/> </div>
        </div>
    </div>
    <div id="controls" style="position: absolute;">
      <div id="photoControl" class="ui-widget-content" style="background-color:#ccc; opacity: 0.5;  width:200px; height:300px;"><div id="x-position"></div><div id="y-position"></div></div>
      <div class="wr">
          <i style="cursor:pointer;" class="fa fa-search-minus fa-1x" id="desize"></i>
          <input type="range" value="100" min="10" max="200" id="rg" class="rg"/>
          <i style="cursor:pointer;" class="fa fa-search-plus fa-1x"  id="insize"></i>
      </div>
    </div>

  </body>
  <style media="screen">
    .wr{
      position: absolute;
      top: 370px;
    }
  </style>
  <style>
    @media print{
      .wr{
        display: none;
      }
    }
  </style>
</html>
<script type='text/javascript'>
  // ------------zoom image-----------
    var timeout_id_desize = 0,
    hold_time_desize = 50;
    var timeout_id_insize = 0,
    hold_time_insize = 50;
    var timeout_id_setval = 0,
    hold_time_setval = 50;
    var iw;
    var ih;
    window.onload=function(){
      var i = document.getElementById("rg").value;
      var img2=document.getElementById("cover");
      iw = img2.width;
      ih = img2.height;
        function setVal()
        {
          var i = document.getElementById("rg").value;
          img2.style.width = parseInt(iw*i/100)+'px';
          img2.style.height = parseInt(ih*i/100)+'px';
        }
      function deSize()
      {
        var i = parseInt(document.getElementById("rg").value) - 3;
        document.getElementById("rg").value=i;
          if(i>=10){
            img2.style.width = parseInt(iw*i/100)+'px';
            img2.style.height = parseInt(ih*i/100)+'px';
            timeout_id_desize =setTimeout(deSize, hold_time_desize);
          }
        }
      function inSize()
      {
        var i = parseInt(document.getElementById("rg").value) + 3;
        document.getElementById("rg").value=i;
        if(i<=1000){
          img2.style.width = parseInt(iw*i/100)+'px';
          img2.style.height = parseInt(ih*i/100)+'px';
          timeout_id_insize =setTimeout(inSize, hold_time_insize);
        }
      }
      $('#desize').mousedown(function() {
        timeout_id_desize = setTimeout(deSize(), hold_time_desize);
      }).bind('mouseup mouseleave', function() {
          clearTimeout(timeout_id_desize);
      });
      $('#insize').mousedown(function() {
        timeout_id_insize = setTimeout(inSize(), hold_time_insize);
      }).bind('mouseup mouseleave', function() {
          clearTimeout(timeout_id_insize);
      });
      $('#rg').mousemove(function() {
        timeout_id_setval = setTimeout(setVal(), hold_time_setval);
      }).bind('mouseup mouseleave', function() {
          clearTimeout(timeout_id_setval);
      });
    }
    // -----------------------------------------------
    $('#photoControl').draggable({
          drag: function(){
             var position = $(this).position()
             $(".cover").css({'object-position':position.left+'px '+position.top+'px'});
          }
    });

    $(function() {
      var switchTemplate = function(templatename){

      //css should have just one file: <templatename>.css
      var css_path = '../css/';
      //link in the css
      $('link').attr('href',css_path+templatename+"-staff.css");
      /*
        img should have a number of files:
        - <template>-logo.png
        - <template>-footer.png
        - <template>-watermark.png <- this is set in the .css
      */
      var img_path = '../img/';
      $('.footerimg').attr('src',img_path+templatename+'footer.png');
      $('.logoimg').attr('src',img_path+templatename+'logo.png');
      $('head').append('<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css" />');
    };
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var templatename = 'ah'
    // barcode
    var bcurl = "//services.asianhope.org/idcards/barcode.php";
    var bcsize = 30;

    var uid = getParameterByName('uid');
    var name = getParameterByName('name');
    var id = getParameterByName('id');
    var title = getParameterByName('title');
    var department = getParameterByName('department');

    $('.title').html(title);
    $('.name').html(name);
    $('.barcode').html('<img src="'+bcurl+'?text='+id+'&size='+bcsize+'"/>');
    $('.barcodenumber').html(id);
    $('.cover').attr('src','../files/'+id+'/'+id+'-'+uid+'-Photo.jpg');
    if(department=='LIS'){
      templatename='logos';
    }
    else if (department=='AHIS') {
      templatename = 'ahis';
    }
    else{
      templatename = 'ah';
    }
    switchTemplate(templatename);
  });
</script>
