<div class="table-responsive">
  <div id="document_report">
      <table style="width:100%;" datatable="ng" dt-options="elist.dtOptions" class="table tbl_document_report mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
        <thead>
        <tr>
          <th>
            Employee
          </th>
          <th>
            Department
          </th>
          <th ng-repeat="document in documentType">
            {{document.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees | filter:searchEmployeeInDocumentReport | orderBy:orderByField:reverseSort track by $index">
          <td>
            <a ui-sref="admin.staff({instanceID:employee.employeeNumber})">
              {{employee.givenName}} {{employee.sn | uppercase}}
            </a>
          </td>
          <td>
              {{employee.departmentNumber}}
          </td>
          <td ng-repeat="document in documentType">
            <div style="color:blue;" ng-if="documentStatus(document,employee.documents,employee.c,employee.faith)=='Yes'">Y</div>
            <div style="color:red;" ng-if="documentStatus(document,employee.documents,employee.c,employee.faith)=='No'">N</div>
            <div style="color:green;" ng-if="documentStatus(document,employee.documents,employee.c,employee.faith)=='N/A'">N/A</div>
          </td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
<script type="text/javascript">
  $('.page_break').each(
  function() {
    $(this).css("page-break-inside", "avoid");
  }
);
</script>
<style>
  .tbl_document_report tr td, .tbl_document_report tr th{
    text-align: left;
  }
</style>
