<div class="table-responsive" ng-controller="InactiveEmployeeController as InactiveECtr">
  <form name="filterInactiveEmployeeByStartDateForm">
    <table class="formSearchFilter" style="width:100%;">
      <tr>
        <td>Select Year:</td>
        <td>
          <select ng-model="years.selectedYearInactiveEmployee" ng-options="year for year in generateYears(1997)" ng-change="filterInactiveEmployeeByStartdate()" id="selectedYearInactiveEmployee" class="form-control">
            <option value="">--Choose year--</option>
          </select>
        </td>
        <td>Date Range : </td>
        <td>
          <input ng-model="fromStartDateInactive" type="date" id="fromStartDateInactive" class="form-control" required>
        </td>
        <td>To</td>
        <td>
          <input class="form-control" ng-model="toEndDateInactive" type="date" id="toEndDateInactive" class="form-control" required>
        </td>
        <td>
          <button type="submit" ng-disabled="filterInactiveEmployeeByStartDateForm.$invalid" ng-click="filterInactiveEmployeeByRangeStartDate(fromStartDateInactive,toEndDateInactive)" class="btn btn-primary">Search By Start Date</button>
        </td>
      </tr>
    </table>
  </form>
  <form id="filterByYearForm" name="filterByYearForm">
    <table class="formSearchFilter" style="width:100%;">
      <tr>
        <td>Select Year:</td>
        <td>
          <select ng-model="years.selectedYear" ng-options="year for year in generateYears(2005)" ng-change="filterEmployee()" id="selecedyear" class="form-control">
            <option value="">--Choose year--</option>
          </select>
        </td>
        <td>Date Range : </td>
        <td>
          <input ng-model="getStartDate" type="date" id="startDate" class="form-control" required>
        </td>
        <td>To</td>
        <td>
          <input class="form-control" ng-model="getEndDate" type="date" id="endDate" class="form-control" required>
        </td>
        <td>
          <button type="submit" ng-disabled="filterByYearForm.$invalid" ng-click="filterEmployeeByDateRange(getStartDate,getEndDate)" class="btn btn-primary">Search By End Date</button>
        </td>
      </tr>
    </table>
  </form>
  <form id="searchForm" style="margin-top:15px;" name="searchForm">
    <table class="formSearchFilter" style="width:100%">
      <tr>
        <td>Search For:</td>
        <td>
          <input id="searchValue" ng-model="searchoption.filter" placeholder="Search here..." name="searchfor" class="form-control" required>
        </td>
        <td>Search Key:</td>
        <td>
          <select id="searchKey" ng-model="searchoption.key"  name="searchKey" class="form-control" required>
            <option value="">--Select Key--</option>
            <option value="$">Any</option>
            <option value="gender">Gender</option>
            <option value="c">Nationality</option>
            <option value="applebirthday">Date of Birth</option>
            <option value="departmentNumber">Department</option>
            <option value="title">Position</option>
            <option value="degree">Education</option>
            <option value="maritalstatus">Marital Status</option>
          </select>
        </td>
        <td>
          <select id="selectedNationality" ng-model="selectedNationalityInactive" class="form-control">
            <option value="">--Choose nationality--</option>
            <option value="{{country.value}}" ng-repeat="country in countries">{{country.value}}</option>
          </select>
        </td>
        <td><button ng-disabled="searchForm.$invalid" class="btn btn-primary" ng-click="setfilter()" value="Search">Search</button></td>
        <td>
          <button ng-click="exportData('exportable','Inactive Staff Report')" class="btn btn-info">
            <span class="glyphicon glyphicon-export"></span> Export
          </button>
        </td>
        <td>
          <button type="reset" ng-click="resetInactiveStaffForm()" class="btn btn-danger">
            Reset
          </button>
        </td>
      </tr>
    </table>
</form>
<table style="margin: 10px 0px 15px 0px;" class="tblcheckbox">
  <tr>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedID"/>
      ID
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedGivenName"/>
      First Name
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedSn"/>
      Surname
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedGivenNamekh"/>
      Khmer First name
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedSnkh"/>
      Khmer Surname
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedGender"/>
      Gender
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedC"/>
      Nationality
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedAppleBirthday"/>
      Date of Birth
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedDepartmentNumber"/>
      Department
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedTitle"/>
      Position
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedEmployeeType"/>
      Status
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedL"/>
      Work Site
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedDegree"/>
      Education
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedIdnumber"/>
      Passport / ID #
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedInsurance"/>
      Insurance Provider
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedVisaExpires"/>
      Visa Expires
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedPostalAddress"/>
      Address
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedStartdate"/>
      Start Date
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedEnddate"/>
      End Date
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedTerm"/>
      Term
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedMaritalStatus"/>
      Marital Status
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedChildren"/>
      Children
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedFaith"/>
      Religion
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedMobile"/>
      Phone
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedMail"/>
      Email
    </td>
    <td>
      <input type="checkbox" ng-model="inactiveEmployeesCheck.checkedMailpr"/>
      Personal Email
    </td>
  </tr>
</table>
<div>
  <table id="exportable" datatable="ng" dt-options="elist.dtOptionsShortOnly" style="width:100%; margin-top:10px;" class="tbl_inactive table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedID == false}">
          ID
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedGivenName == false}">
          First Name
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedSn == false}">
          Surname
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedSnkh == false}">
          Khmer Surname
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedGivenNamekh == false}">
          Khmer First name
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedGender == false}">
          Gender
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedC == false}">
          Nationality
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedAppleBirthday == false}">
          Date of Birth
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedDepartmentNumber == false}">
          Department
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedTitle == false}">
          Position
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedEmployeeType == false}">
          Status
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedL == false}">
          Work Site
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedDegree == false}">
          Education
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedIdnumber == false}">
          Passport / ID #
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedInsurance == false}">
          Insurance Provider
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedVisaExpires == false}">
          Visa Expires
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedPostalAddress == false}">
          Address
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedStartdate == false}">
          Start Date
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedEnddate == false}">
          End Date
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedTerm == false}">
          Term
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedMaritalStatus == false}">
          Marital Status
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedChildren == false}">
          Children
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedFaith == false}">
          Religion
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedMobile == false}">
          Phone
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedMail == false}">
          Email
        </th>
        <th ng-class="{hideColumn : inactiveEmployeesCheck.checkedMailpr == false}">
          Personal Email
        </th>

      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="inactive_employee in curInactiveEmployees | filter:search | orderBy:orderByField:reverseSort track by $index">
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedID == false}" style="width: 10em;"><a ui-sref="admin.staff({instanceID:inactive_employee.uidNumber})">{{inactive_employee.uidNumber}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedGivenName == false}" style="width: 10em;">{{inactive_employee.givenName}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedSn == false}" style="width: 10em;">{{inactive_employee.sn | uppercase}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedSnkh == false}" style="width: 10em;">{{inactive_employee.snkh}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedGivenNamekh == false}" style="width: 10em;">{{inactive_employee.givenNamekh}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedGender == false}" style="width: 10em;">{{inactive_employee.gender || "Not Entered"}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedC == false}" style="width: 10em;">{{inactive_employee.c || "Not Entered"}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedAppleBirthday == false}" style="width: 10em;">{{decodeAppleBirthday(inactive_employee.applebirthday) || "Not Entered"}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedDepartmentNumber == false}" style="width: 1em;">{{inactive_employee.departmentNumber || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedTitle == false}" style="width: 10em;">{{inactive_employee.title || "Not Entered"}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedEmployeeType == false}" style="width: 10em;">{{inactive_employee.employeeType || "Not Entered"}}</td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedL == false}" style="width: 1em;">{{inactive_employee.l || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedDegree == false}" style="width: 1em;">{{inactive_employee.degree || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedIdnumber == false}" style="width: 1em;">{{inactive_employee.idnumber || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedInsurance == false}" style="width: 1em;">{{inactive_employee.insurance || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedVisaExpires == false}" style="width: 1em;">{{inactive_employee.visaExpires || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedPostalAddress == false}" style="width: 1em;">{{inactive_employee.postalAddress || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedStartdate == false}" style="width: 1em;">{{inactive_employee.startdate || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedEnddate == false}" style="width: 1em;">{{inactive_employee.enddate || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedTerm == false}" style="width: 1em;">  {{inactive_employee.timeBetween(employee.startdate, employee.enddate|| 'present')}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedMaritalStatus == false}" style="width: 1em;">{{inactive_employee.maritalstatus || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedChildren == false}" style="width: 1em;">{{inactive_employee.children || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedFaith == false}" style="width: 1em;">{{inactive_employee.faith || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedMobile == false}" style="width: 1em;">{{inactive_employee.mobile || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedMail == false}" style="width: 1em;">{{inactive_employee.mail || "Not Entered"}}</a></td>
          <td ng-class="{hideColumn : inactiveEmployeesCheck.checkedMailpr == false}" style="width: 1em;">{{inactive_employee.mailpr || "Not Entered"}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
  <table class="tbl_data" style="margin-bottom: 20px;">
    <tbody>
    <tr>
      <td><b>Employees</b> :</td>
      <td>{{ (curInactiveEmployees | filter:search).length }}</td>
    </tr>
    <tr>
      <td>Female :</td>
      <td>{{ (curInactiveEmployees | filter:{gender:'F'} | filter:search ).length }}</td>
    </tr>
    <tr>
      <td>Male :</td>
      <td>{{ (curInactiveEmployees | filter:{gender:'M'} | filter:search ).length }}</td>
    </tr>
    <tr style="color:red;" ng-if="(curInactiveEmployees | filter:search).length-((curInactiveEmployees | filter:{gender:'F'} | filter:search).length+(curInactiveEmployees | filter:{gender:'M'} | filter:search).length)>0">
      <td>*Gender Not Entered :</td>
      <td>
        {{ (curInactiveEmployees | filter:search).length-((curInactiveEmployees | filter:{gender:"F"} | filter:search).length+(curInactiveEmployees | filter:{gender:"M"} | filter:search).length)}}
      </td>
    </tr>
    <tr>
      <td><b>Cambodian staff:<b></td>
      <td>
        {{(curInactiveEmployees | filter:{c:"KH"} | filter:search).length}}
      </td>
    </tr>
    <tr>
      <td>
        Female:
      </td>
      <td>
        {{(curInactiveEmployees | filter:{c:"KH"} | filter:{gender:"F"} | filter:search).length}}
      </td>
    </tr>
    <tr>
      <td>Male:</td>
      <td> {{(curInactiveEmployees | filter:{c:"KH"} | filter:{gender:"M"} | filter:search).length}}</td>
    </tr>
    <tr>
      <td><b>Expat staff:<b></td>
      <td>
        {{(curInactiveEmployees | filter:{c:"!KH"} | filter:search).length}}
      </td>
    </tr>
    <tr>
      <td>
        Female:
      </td>
      <td>
        {{(curInactiveEmployees | filter:{c:"!KH"} | filter:{gender:"F"} | filter:search).length}}
      </td>
    </tr>
    <tr>
      <td>Male:</td>
      <td> {{(curInactiveEmployees | filter:{c:"!KH"} | filter:{gender:"M"} | filter:search).length}}</td>
    </tr>
    <tr ng-if="selectedNationalityInactive && selectedNationalityInactive != 'KH'">
      <td><b>{{selectedNationalityInactive}} : <b></td>
      <td> {{(curInactiveEmployees | filter:{c:selectedNationalityInactive} |  filter:search).length}}</td>
    </tr>
    <tr ng-if="selectedNationalityInactive && selectedNationalityInactive != 'KH'">
      <td>
        Female:
      </td>
      <td>
        {{(curInactiveEmployees | filter:{c:selectedNationalityInactive} | filter:{gender:"F"} | filter:search).length}}
      </td>
    </tr>
    <tr ng-if="selectedNationalityInactive && selectedNationalityInactive != 'KH'">
      <td>Male:</td>
      <td> {{(curInactiveEmployees | filter:{c:selectedNationalityInactive} | filter:{gender:"M"} | filter:search).length}}</td>
    </tr>
  </tbody>
  </table>
</div>
<style>
  .tbl_inactive tr th, .tbl_inactive tr td{
    text-align:left;
  }
  .tbl_inactive{
    width:100%;
  }
</style>
