<div >
  <div class="col-xs-12 toprint">
    <h1>Expat Staff List</h1>
  </div>
  <div class="reports  " style="margin-top:30px;" ng-repeat="employee in employees | filter:query | orderBy:orderProp" ng-if="employee.l=='KH' && employee.c!='KH'">
  <div class="page-break well well-sm container col-xs-12">
    <!-- Biogrpahical -->
  <div class="col-xs-8">
      <table>
        <tr>
          <td><h5><strong>Name</strong></h5></td>
          <td><h5><strong>:</strong></h5></td>
          <td>
            <h5>
              {{employee.sn}}, {{employee.givenName}}
            </h5>
          </td>
        </tr>
        <tr>
          <td><h5><strong>Country</strong></h5></td>
          <td><h5><strong>:</strong></h5></td>
          <td>
            <h5>
                {{employee.c || "Passport Country"}}
            </h5>
          </td>
        </tr>
        <tr>
          <td><h5><strong>Passport Number</strong></h5></td>
          <td><h5><strong>:</strong></h5></td>
          <td><h5>
                {{employee.idnumber || "Not Entered"}}
              </h5>
          </td>
        </tr>
        <tr>
          <td><h5><strong>Duration of Contract</strong></h5></td>
          <td><h5><strong>:</strong></td>
          <td><h5>2 years</h5></td>
        </tr>
        <tr>
          <td><h5><strong>Term</strong></h5></td>
          <td><h5><strong>:</strong></h5></td>
          <td><h5>7/2014—7/2016</h5></td>
        </tr>
        <tr>
          <td><h5><strong>Position</strong></h5></td>
          <td><h5><strong>:</strong></td>
          </h5>
          <td><h5>{{employee.title || "Not Entered"}}  </td>
        </tr>
        <tr>
          <td style="vertical-align: top;"><h5><strong>Spouse</strong></h5></td>
          <td style="vertical-align: top;"><h5><strong>:</strong></h5></td>
          <td>
            <table>
              <tr>
                <td><h5><strong>Name</strong></h5></td>
                <td><h5><strong>:</strong></h5></td>
                <td><h5>{{employee.spouseSn || "Not Entered"}}, {{employee.spouseCn}}</h5></td>
              </tr>
              <tr>
                <td><h5><strong>Country</strong></h5></td>
                <td><h5><strong>:</strong></h5></td>
                <td>
                  <h5>
                      {{employee.spouseC || "Passport Country"}}
                  </h5>
                </td>
              </tr>
              <tr>
                <td><h5><strong>Passport Number</strong></h5></td>
                <td><h5><strong>:</strong></td>
                <td>
                  <h5>
                      {{employee.spouseidnumber || "Not Entered" }}
                  </h5>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;" ng-if="employee.children!=null && employee.children>0 && employee.children!='Not Entered'"><h5><strong>Children</strong></h5></td>
          <td style="vertical-align: top;" ng-if="employee.children!=null && employee.children>0 && employee.children!='Not Entered'"><h5><strong>:</strong></h5></td>
          <td ng-if="employee.children!=null && employee.children>0 && employee.children!='Not Entered'">
            <table  ng-repeat="i in range(employee.children) track by $index">
              <tr>
                <td><h5><strong>Children {{$index+1}} Name</strong></h5></td>
                <td><h5><strong>:</strong></h5></td>
                <td>
                  <h5>
                      {{employee.child$indexCn || "Not Entered"}},
                      {{employee.child$indexSn}}
                  </h5>
                </td>
              </tr>
              <tr>
                <td><h5><strong>Country</strong></h5></h5></td>
                <td><h5><strong>:</strong></h5></h5></td>
                <td>
                  <h5>
                      {{employee.child$indexC || "Not Entered"}}
                  </h5>
                </td>
              </tr>
              <tr>
                <td><h5><strong>Passport Number</strong></h5></td>
                <td><h5><strong>:</strong></h5></td>
                <td>
                  <h5>
                      {{employee.child$indexidnumber || "Not Entered"}}
                  </h5>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
  </div>
    <div class="col-xs-4">
        <img src="../files/{{employee.employeeNumber}}.jpg" style="width:236px; margin-top:30px;"></img>
    </div>
</div>
</div>
</div>
<style>
  .reports td{
    padding: 0 5px 0 5px;
    color: #428bca;
  }
  @media screen {
    .toprint{
      display: none;
    }
  }

  @media print {
    .noprint{
      display: none;
    }
    .toprint{
      display: block;
      text-align: center;
    }
    .page-break{
      /*page-break-after: always;
      page-break-before: auto;*/
      page-break-inside:avoid;
    }
  }
</style>
