<div>
  <form  name ="form_pass" class="form-horizontal" ng-submit="resetPassword(elist.curemployee.uid,password,'adminreset',current_pass)">
    <div class="form-group">
        <h4 for="current_password">Type <strong>Your</strong> password</h4>
        <input type="password"  name="current_pass" id="current_pass" class="form-control" ng-model="current_pass" required />
        <span ng-show="form_pass.current_pass.$dirty && form_pass.current_pass.$error.required" class="help-block">Current password is required</span>
    </div>
    <div class="form-group">
      <div class="col-md-12 text-center">
        <h4>Temporary Password:</h4>
        <h2 id="pw" class="header" style="font-family: mono;">{{password}}</h2>
        <input id="password" type="hidden" name="userPassword" value="{{password}}" />
        <i id="pw-refresh" class="fa fa-refresh fa-2x" style="color: gray" ng-click="tempPassword()"></i>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 text-center">
        <button id="submit" type="submit" class="btn btn-primary btn-lg">Reset Password</button>
      </div>
    </div>
  </form>
</div>
<script>
$('#submit').click(function() {
  $("#show_resetpass").hide();
  $("#hide_resetpass").show();
});
</script>
