<div>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
          <div id="demo-ribbon"></div>
          <main class="demo-main mdl-layout__content">
            <div class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="demo-content1 mdl-color--white  content mdl-cell mdl-cell--10-col">
                <div class="row" id="demo-header">
                  <div class="col-xs-6 col-md-6" style="color:white;">
                    <div class="ahem">AHEM</div>
                    <div class="ahemtext"><span>Asian Hope Employee Management</span></div>
                    <span style="font-size:17px;color:white"></span>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <input id="search" ng-keypress="keyPress();" placeholder="Hit / to Search"ng-model="query" class="form-control search_box" autofocus="true" type="text" style=""/>
                  </div>
                </div>
              </div>
            </div>
            <div class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                <img ng-show="loading" style="display:block; margin-left:auto; margin-right:auto;" src="../img/load.GIF" alt="loading image"/>
                <div ng-hide="loading" class="col-xs-12 col-md-12" style=" margin: 20px 0;">
                  <stafflist-simpleuser  style="width:100%;" ng-show="showlist==true"></stafflist-simpleuser>
                  <view-self ng-show="showlist==false"> </view-self>
                </div>
            </div>
            </div>
          </main>
        </div>
        <button ng-click="keyclickshide();" id="btn_profile" style="background:#488FCC;" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--accent">
          <i id="icon_profile" style="font-size:57px; color:white; margin-left:-17px;" class="material-icons">perm_identity</i>
        </button>
  </div>
