<div ng-controller="EmployeeListController as elist">
    <div>
        <div class="form-inline" style="margin: 5px;">
            <label>Search:</label>
            <input class="form-control" ng-model="query"/>
            <label>Sort By:</label>
            <select class="form-control" ng-model="orderProp">
                <option value="departmentNumber">Department</option>
                <option value="employeeType">Employee Type</option>
                <option value="sn">Alphabetical (Last Name)</option>
                <option value="-sn">Reverse Alphabetical (Last Name)</option>
                <option value="uidNumber">Employee Number: Low to High</option>
                <option value="-uidNumber">Employee: High to Low</option>
            </select>
    	    <h1>
              <a href ng-click="elist.refreshEmployeeData()" alt="Show current employees"><i class="fa fa-group"></i></a>
              <a href ng-click="elist.showRequestedAccounts()" alt = "Show requested accounts"><i class="fa fa-cogs"></i></a>
              <a href ng-click="elist.showDisabledAccounts()" alt = "Show disabled accounts"><i class="fa fa-question-circle"></i></a>
          </h1>
    </div>
        <table class="table table-striped table-hover">
            <tr><th>T</th><th>Dept</th><th>ID</th><th>First Name</th><th>Surname</th><th>Phone</th><th>Email</th></tr>
            <tr ng-repeat="employee in employees | filter:query | orderBy:orderProp">
                <td style="width: 1em;">{{employee.employeeType}}</a></td>
                <td style="width: 1em;">{{employee.departmentNumber}}</a></td>
                <td style="width: 8em;"><a href="#/admin/staff/{{employee.employeeNumber}}" ng-click="this.elist.setEmployee(employee)">{{employee.employeeNumber}}</a></td>
                <td style="width: 10em;">{{employee.givenName}}</td>
                <td style="width: 10em;">{{employee.sn}}</td>
                <td style="width: 10em;">{{employee.mobile}}</td>
                <td style="width: 10em;"><a href="mailto:{{employee.mail}}" target="_blank">{{employee.mail}}</a></td>
            </tr>
