<!-- <div class="form-inline" style="margin: 5px;">
            <label>Search:</label>
            <input class="form-control" ng-model="query"/>
            <label>Sort By:</label>
            <select class="form-control" ng-model="orderProp">
                <option value="departmentNumber">Department</option>
                <option value="employeeType">Employee Type</option>
                <option value="sn">Alphabetical (Last Name)</option>
                <option value="-sn">Reverse Alphabetical (Last Name)</option>
                <option value="uidNumber">Employee Number: Low to High</option>
                <option value="-uidNumber">Employee: High to Low</option>
            </select>
    	    <h1>
              <a href ng-click="elist.refreshEmployeeData()" alt="Show current employees"><i class="fa fa-group"></i></a>
              <a href ng-click="elist.showRequestedAccounts()" alt = "Show requested accounts"><i class="fa fa-cogs"></i></a>
              <a href ng-click="elist.showDisabledAccounts()" alt = "Show disabled accounts"><i class="fa fa-question-circle"></i></a>
          </h1>
</div> -->
  <!-- <div>
    <button ng-click="refreshEmployeeData()" class="btn_bgcolor mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      All Staff
    </button>
    <button ng-click="showRequestedAccounts()" class="btn_bgcolor mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Requests
    </button>
    <button ng-click="showDisabledAccounts()" class="btn_bgcolor mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Disabled
    </button>
    <button ng-click="showInactiveAccounts()" class="btn_bgcolor mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Inactive
    </button>
  <div> -->
        <table style="width:100%; margin-top:10px;" class="employeelist mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <tr><th>T</th><th>Dept</th><th>ID</th><th>First Name</th><th>Surname</th><th>Phone</th><th>Email</th></tr>
            <tr ng-show="!checkStorage()" ng-hide="local_data">
              <td colspan="7" style="text-align:center;">
                 <img src="../img/loading.GIF" alt="loading image"/>
              </td>
            </tr>
            <tr ng-hide="!local_data" ng-repeat="employee in employees | filter:query | orderBy:orderProp">
                <td style="width: 1em;">{{employee.employeeType}}</a></td>
                <td style="width: 1em;">{{employee.departmentNumber}}</a></td>
                <td style="width: 8em;"><a ui-sref="admin.staff({instanceID:employee.employeeNumber})">{{employee.employeeNumber}}</a></td>
                <td style="width: 10em;">{{employee.givenName}}</td>
                <td style="width: 10em;">{{employee.sn}}</td>
                <td style="width: 10em;">{{employee.mobile}}</td>
                <td style="width: 10em;"><a href="mailto:{{employee.mail}}" target="_blank">{{employee.mail}}</a></td>
            </tr>
          </table>
