<div class="col-md-12 col-xs-12" style="margin-bottom:20px;">
  <ul class = "nav nav-tabs" style="border-bottom:none !important;">
      <li ng-class="{ tab_active:this.tab.isSet(3)}">
          <a href ng-click="this.tab.setTab(3)">Employee</a>
      </li>
      <li ng-class="{ tab_active:this.tab.isSet(4)}" ng-if="curemployee.maritalstatus!=null && curemployee.maritalstatus!='Not Entered' && curemployee.maritalstatus.trim()!='Single' && curemployee.c!='KH'">
          <a href ng-click="this.tab.setTab(4)">Family</a>
      </li>
  </ul>
</div>
<div class="col-md-12 col-xs-12">


<div id="change_text_color" style="color:#488FCC;" class="center_div col-md-7 col-xs-7">
  <div class="col-md-12" ng-show="this.tab.isSet(3)" style="padding-left:0 !important;">
      <table class="table_view">
        <tr>
          <td style="font-size:30px;">
            <strong>
              <a id="lastname" href="#" title="Click to edit: Surname" editable-text="curemployee.sn"
                  onbeforesave="updateUser(curemployee.uid,'sn',$data)">
                  {{curemployee.sn +', '}}
              </a>
              <a href="#" title="Click to edit: First Name" editable-text="curemployee.givenName"
                  onbeforesave="updateUser(curemployee.uid,'givenName',$data)">
                  {{curemployee.givenName}}
              </a>
            </strong>
          </td>
          <td style="font-size:30px;">
            <a href ng-click="shift(-1)"><i class="fa fa-arrow-left"></i></a>
              {{curemployee.employeeNumber}}
            <a href ng-click="shift(+1)"><i class="fa fa-arrow-right"></i></a>
          </td>
        </tr>
        <tr>
          <td style="font-family:Bayon;">
            <a href="#" title="Click to edit: Khmer Surname" editable-text="curemployee.snkh"
                onbeforesave="updateUser(curemployee.uid,'snkh',$data)">
                {{curemployee.snkh || "នាមត្រកូល"}}
            </a> &nbsp;
            <a href="#" title="Click to edit: Khmer First Name" editable-text="curemployee.givenNamekh"
              onbeforesave="updateUser(curemployee.uid,'givenNamekh',$data)">
                {{curemployee.givenNamekh || "នាមខ្លួន" }}
            </a>
          </td>
          <td>
            <a href="#" title ="Click to edit: Employee Status" editable-select="curemployee.employeeType"
                e-ng-options="employeetype.value as employeetype.text for employeetype in employeetypes"
                onbeforesave="updateUser(curemployee.uid,'employeeType',$data)">
                {{curemployee.employeeType|| "empty"}}
            </a> -
            <a href="#" title ="Click to edit: Department" editable-select="curemployee.departmentNumber"
                e-ng-options="department.value as department.text for department in departments"
                onbeforesave="updateUser(curemployee.uid,'departmentNumber',$data)">
                {{curemployee.departmentNumber || "empty"}}
            </a>
          </td>
        </tr>
        <tr style="border-bottom:1px solid #e5e5e5;">
          <td>
            <a href="#" title="Click to edit: Title" editable-text="curemployee.title"
                onbeforesave="updateUser(curemployee.uid,'title',$data)">
                {{curemployee.title || "Staff"}}
            </a>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <a href="mailto:{{curemployee.mail}}" target="_blank"> <i class="fa fa-envelope-o"></i> {{curemployee.mail}}</a>
          </td>
          <td>
            <a href="#" title="Click to edit: Phone Number" editable-text="curemployee.mobile"
                onbeforesave="updateUser(curemployee.uid,'mobile',$data)">
                {{curemployee.mobile || "Phone"}}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="mailto:{{selfselect.mailpr}}" target="_blank"><i class="fa fa-envelope-o"></i></a>
            <a href="#" title="Click to edit: Personal Email Address" editable-email="curemployee.mailpr"
              onbeforesave="updateUser(curemployee.uid,'mailpr',$data)">
                {{curemployee.mailpr || "Personal Email"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Address" editable-text="curemployee.postalAddress"
                onbeforesave="updateUser(curemployee.uid,'postalAddress',$data)">
                {{curemployee.postalAddress || "Home Address"}}
            </a>
          </td>
        </tr>
        <tr style="border-bottom:1px solid #e5e5e5;">
          <td>
            <a href="#" title="Click to edit: Birthday" editable-date="curemployee.applebirthday"
                onbeforesave="updateUser(curemployee.uid,'apple-birthday',$data)"> <!-- note the field change to apple-birthday here -->
                {{decodeAppleBirthday(curemployee.applebirthday) || "DOB"}}
            </a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Click to edit: Passport/ID Card" editable-text="curemployee.idnumber"
              onbeforesave="updateUser(curemployee.uid,'idnumber',$data)">
                {{curemployee.idnumber || "Passport/ID Card:"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Nationality" editable-select="curemployee.c"
                e-ng-options="country.value as country.text for country in countries"
                onbeforesave="updateUser(curemployee.uid,'c',$data)">
                {{curemployee.c || "Nationality"}}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Click to edit: NSSF Number" editable-text="curemployee.nssf"
              onbeforesave="updateUser(curemployee.uid,'nssf',$data)">
                {{curemployee.nssf || "NSSF #"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Marital Status" editable-select="curemployee.maritalstatus"
                    e-ng-options="maritalstatus.value as maritalstatus.text for maritalstatus in maritalstatuses"
                    onbeforesave="updateUser(curemployee.uid,'maritalstatus',$data)">
                    {{curemployee.maritalstatus|| "Marital Status"}}
            </a>
          </td>
        </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Religion" editable-select="curemployee.faith"
                  e-ng-options="religion.value as religion.text for religion in religions"
                  onbeforesave="updateUser(curemployee.uid,'faith',$data)">
                  {{curemployee.faith || "Religion"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Children" editable-number="curemployee.children"
              onbeforesave="updateUser(curemployee.uid,'children',$data)">
                {{curemployee.children|| "Children"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Insurance Provider" editable-text="curemployee.insurance"
                    onbeforesave="updateUser(curemployee.uid,'insurance',$data)">
                      {{curemployee.insurance || "Insurance Provider"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Insurance ID Number" editable-text="curemployee.insuranceNumber"
                onbeforesave="updateUser(curemployee.uid,'insuranceNumber',$data)">
                  {{curemployee.insuranceNumber || "Insurance ID #"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Degree" editable-text="curemployee.degree"
                onbeforesave="updateUser(curemployee.uid,'degree',$data)">
                  {{curemployee.degree || "Degree"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Specialization" editable-text="curemployee.degreeArea"
                onbeforesave="updateUser(curemployee.uid,'degreeArea',$data)">
                  {{curemployee.degreeArea || "Specialization"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Entrance Date" editable-date="curemployee.enteredCambodia"
                  onbeforesave="updateUser(curemployee.uid,'enteredCambodia',$data)">
                    {{curemployee.enteredCambodia || "Entrance Date"}}
              </a>
            </td>
            <td >
              <a href="#" title="Click to edit: Visa Expires" editable-date="curemployee.visaExpires"
                onbeforesave="updateUser(curemployee.uid,'visaExpires',$data)">
                {{curemployee.visaExpires || "Visa Expires"}}
              </a>
            </td>
          </tr>
          <tr style="border-bottom:1px solid #e5e5e5; vertical-align: top;">
            <td>
              Employed from:
            </td>
            <td>
                  <a href="#" title="Click to edit: Employment Start Date" editable-date="curemployee.startdate"
                  onbeforesave="updateUser(curemployee.uid,'startdate',$data)">
                      {{curemployee.startdate || "unknown"}}
                  </a> to
                  <a href="#" title="Click to edit: Employment End Date" editable-date="curemployee.enddate"
                  onbeforesave="updateUser(curemployee.uid,'enddate',$data)">
                      {{curemployee.enddate|| "present"}}
                  </a>
              <p><small>
                {{elist.timeBetween(curemployee.startdate, curemployee.enddate|| 'present')}}
              </small></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Notes:
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="#" title="Click to edit: Notes"editable-textarea="curemployee.notes"
                e-rows="7" e-cols="60"
                onbeforesave="updateUser(curemployee.uid,'notes',$data)">
                  <pre>{{curemployee.notes || 'no notes entered'}}</pre>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <reset-password id="show_resetpass" style="text-align:center;"></reset-password>
            </td>
        </tr>
    </table>
  </div>
  <!-- family tab -->

  <div class="col-md-12"  ng-show="this.tab.isSet(4)" style="padding-left:0 !important;">
      <table class="table_view">
        <tr>
          <td style="font-size:30px;">
            <strong>
                    <a id="lastname" href="#" title="Click to edit: Spouse Surname" editable-text="curemployee.spouseSn"
                        onbeforesave="updateUser(curemployee.uid,'spouseSn',$data)">
                        {{curemployee.spouseSn || "Spouse name"}}
                    </a>,
                    <a href="#" title="Click to edit: Spouse First Name" editable-text="curemployee.spouseCn"
                        onbeforesave="updateUser(curemployee.uid,'spouseCn',$data)">
                        {{curemployee.spouseCn || "N/A"}}
                    </a>

            </strong>
          </td>
          <td>
            <a href="#" title="Click to edit: Nationality" editable-select="curemployee.spouseC"
                e-ng-options="country.value as country.text for country in countries"
                onbeforesave="updateUser(curemployee.uid,'spouseC',$data)">
                {{curemployee.spouseC || "Nationality"}}
            </a>
          </td>
        </tr>
        <tr style="border-bottom:1px solid #e5e5e5;">
          <td>
            <a href="#" title="Click to edit: Passport Number" editable-text="curemployee.spouseIdnumber"
              onbeforesave="updateUser(curemployee.uid,'spouseIdnumber',$data)">
                {{curemployee.spouseidnumber || "Passport #"}}
            </a>
          </td>
          <td>
                <small>
                  <a href="#" title="Click to edit: Visa Expires" editable-date="curemployee.spouseVisaExpires"
                    onbeforesave="updateUser(curemployee.uid,'spouseVisaExpires',$data)">
                    {{curemployee.spouseVisaExpires || "Visa Expires"}}
                  </a>
                </small>
          </td>
        </tr>
        <!-- "  -->
        <tbody ng-repeat="a in range(curemployee.children) track by $index" ng-if="curemployee.children!=null">
          <tr >
              <td>
                <a href="#" title="Click to edit: Children Surname" editable-text="curemployee.child{{$index}}Sn"
                    onbeforesave="updateUser(curemployee.uid,'child'+ $index+'Sn',$data)">
                    {{curemployee.child$indexSn || "Children name"}}
                </a>,
                <a href="#" title="Click to edit: Children First Name" editable-text="curemployee.child{{$index}}Cn"
                    onbeforesave="updateUser(curemployee.uid,'child'+ $index+'Cn',$data)">
                    {{curemployee.child$indexCn || "N/A"}}
                </a>
              </td>
              <td>
                <a href="#" title="Click to edit: Passport Number" editable-text="curemployee.chlid{{$index}}idnumber"
                onbeforesave="updateUser(curemployee.uid,'chlid'+$index+'idnumber',$data)">
                  {{curemployee.chlid$indexIdnumber || "Passport #"}}
                </a>
              </td>
          </tr>
          <tr style="border-bottom:1px solid #e5e5e5;">
              <td>
                <a href="#" title="Click to edit: Nationality" editable-select="curemployee.chlid{{$index}}C"
                    e-ng-options="country.value as country.text for country in countries"
                    onbeforesave="updateUser(curemployee.uid,'chlid'+$index+'C',$data)">
                    {{curemployee.chlid$indexC || "Nationality"}}
                </a>
              </td>
              <td>
                <a href="#" title="Click to edit: Visa Expires" editable-date="curemployee.child{{$index}}VisaExpiry"
                onbeforesave="updateUser(curemployee.uid,'child'+ $index+'VisaExpiry',$data)">
                  {{curemployee.child$indexVisaExpiry || "Visa Expires"}}
                </a>
              </td>
          </tr>
        </tbody>
    </table>
  </div>

</div>


<!-- profile pic -->
<div class="center_div col-md-5 col-xs-5">
  <div class="col-md-12 col-xs-12 ">
    <div style="width: 330px; height: 411px; background-position: center center; background-size: cover; background-image: url('files/{{curemployee.employeeNumber}}.jpg');"></div>
  </div>
  <div class="col-md-12 col-xs-12" style="margin-top:30px; position:relative;left: -6px;" >
      <div class="col-md-6 col-xs-6">
        <a target="_blank" href="templates/card.html?name={{curemployee.givenName}} {{curemployee.sn}}&id={{curemployee.employeeNumber}}&title={{curemployee.title}}&department={{curemployee.departmentNumber}}">
          <button  style="background:#488FCC; color:white;" id="btn_print_card" class="button center_div btn">
            Print ID card
          </button>
        </a>

      </div>
      <div class="col-md-6 col-xs-6">
        <button style="background:#488FCC; color:white;" id="hide_resetpass" class="button showchpass center_div btn">
            <strong>Password Reset</strong>
        </button>
      </div>
  </div>
  <!-- <div class="col-md-12 col-xs-12" style="margin-top:30px; position:relative;left: -6px;" >

  </div> -->
</div>

</div>


         <style>
            @media screen and (max-width: 800px) {
              .right{
                text-align: left;
              }
              #imagePreview{
                margin-left: 25%;
              }
              #goback{
                text-align: center;
              }
          }
          #show_resetpass{
            display: none;
          }
         </style>
         <script type="text/javascript">
            $('#hide_resetpass').click(function() {
              $(this).hide();
              $("#show_resetpass").show();
            });
         </script>
