
<div id="change_text_color" style="color:#488FCC;" class="center_div col-md-7 col-xs-7">
  <div class="row mdl-tabs mdl-js-tabs">
    <div class="mdl-tabs__tab-bar" style="margin-bottom:20px;">
      <a href ng-click="this.tab.setTab(3)" class="mdl-tabs__tab">Employee</a>
      <a href ng-click="this.tab.setTab(4)" class="mdl-tabs__tab" ng-show="curemployee.maritalstatus!=null && curemployee.maritalstatus!='Not Entered' && curemployee.c!='KH' && ((curemployee.maritalstatus.trim()=='Single' && curemployee.children>0) || curemployee.maritalstatus=='Married')">Family</a>
      <a href ng-click="this.tab.setTab(5)" class="mdl-tabs__tab">Document</a>
      <a href ng-click="this.tab.setTab(6); showGroup(curemployee.uid)" class="mdl-tabs__tab">Group</a>
  </div>
  </div>
  <div class="row wrap_table_view" ng-show="this.tab.isSet(3)" style="padding-left:0 !important;">
      <table class="table_view">
        <!-- <tr>
          <td>{{curemployee}}</td>
        </tr> -->
        <tr>
          <td style="font-size:30px;">
            <strong>
              <a style="line-height:2;" id="lastname" href="#" title="Click to edit: Surname" editable-text="curemployee.sn"
                  onbeforesave="updateUser(curemployee.uid,'sn',$data)">
                  {{curemployee.sn +', '}}
              </a>
              <a href="#" title="Click to edit: First Name" editable-text="curemployee.givenName"
                  onbeforesave="updateUser(curemployee.uid,'givenName',$data)">
                  {{curemployee.givenName}}
              </a>
            </strong>
          </td>
          <td style="font-size:30px;">
            <a href ng-click="shift(-1)"><i class="fa fa-arrow-left"></i></a>
              {{curemployee.employeeNumber}}
            <a href ng-click="shift(+1)"><i class="fa fa-arrow-right"></i></a>
          </td>
        </tr>
        <tr>
          <td style="font-family:Bayon;">
            <a href="#" title="Click to edit: Khmer Surname" editable-text="curemployee.snkh"
                onbeforesave="updateUser(curemployee.uid,'snkh',$data)">
                {{curemployee.snkh || "នាមត្រកូល"}}
            </a> &nbsp;
            <a href="#" title="Click to edit: Khmer First Name" editable-text="curemployee.givenNamekh"
              onbeforesave="updateUser(curemployee.uid,'givenNamekh',$data)">
                {{curemployee.givenNamekh || "នាមខ្លួន" }}
            </a>
          </td>
          <td>
            <a href="#" title ="Click to edit: Employee Status" editable-select="curemployee.employeeType"
                e-ng-options="employeetype.value as employeetype.text for employeetype in employeetypes"
                onbeforesave="updateUser(curemployee.uid,'employeeType',$data)">
                {{curemployee.employeeType|| "empty"}}
            </a> -
            <a href="#" title ="Click to edit: Department" editable-select="curemployee.departmentNumber"
                e-ng-options="department.value as department.text for department in departments"
                onbeforesave="updateUser(curemployee.uid,'departmentNumber',$data)">
                {{curemployee.departmentNumber || "empty"}}
            </a>
          </td>
        </tr>
        <tr style="border-bottom:1px solid #e5e5e5;">
          <td>
            <a href="#" title="Click to edit: Title" editable-text="curemployee.title"
                onbeforesave="updateUser(curemployee.uid,'title',$data)">
                {{curemployee.title || "Staff"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Gender" editable-select="curemployee.gender"
                e-ng-options="gender.value as gender.text for gender in genders"
                onbeforesave="updateUser(curemployee.uid,'gender',$data)">
                {{curemployee.gender || "Gender"}}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="mailto:{{curemployee.mail}}" target="_blank"> <i class="fa fa-envelope-o"></i> {{curemployee.mail}}</a>
          </td>
          <td>
            <a href="#" title="Click to edit: Phone Number" editable-text="curemployee.mobile"
                onbeforesave="updateUser(curemployee.uid,'mobile',$data)">
                {{curemployee.mobile || "Phone"}}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="mailto:{{selfselect.mailpr}}" target="_blank"><i class="fa fa-envelope-o"></i></a>
            <a href="#" title="Click to edit: Personal Email Address" editable-email="curemployee.mailpr"
              onbeforesave="updateUser(curemployee.uid,'mailpr',$data)">
                {{curemployee.mailpr || "Personal Email"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Address" editable-text="curemployee.postalAddress"
                onbeforesave="updateUser(curemployee.uid,'postalAddress',$data)">
                {{curemployee.postalAddress || "Home Address"}}
            </a>
          </td>
        </tr>
        <tr style="border-bottom:1px solid #e5e5e5;">
          <td>
            <a href="#" title="Click to edit: Birthday" editable-date="curemployee.applebirthday"
                onbeforesave="updateUser(curemployee.uid,'apple-birthday',$data)"> <!-- note the field change to apple-birthday here -->
                {{decodeAppleBirthday(curemployee.applebirthday) || "DOB"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Work Site" editable-select="curemployee.l"
                e-ng-options="ahcountry.value as ahcountry.text for ahcountry in ahcountries"
                onbeforesave="updateUser(curemployee.uid,'l',$data)">
                {{curemployee.l || "Work Site"}}
            </a>
        </tr>
        <tr>
          <td>
            <a href="#" title="Click to edit: Passport/ID Card" editable-text="curemployee.idnumber"
              onbeforesave="updateUser(curemployee.uid,'idnumber',$data)">
                {{curemployee.idnumber || "Passport/ID Card:"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Nationality" editable-select="curemployee.c"
                e-ng-options="country.value as country.text for country in countries"
                onbeforesave="updateUser(curemployee.uid,'c',$data)">
                {{curemployee.c || "Nationality"}}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Click to edit: NSSF Number" editable-text="curemployee.nssf"
              onbeforesave="updateUser(curemployee.uid,'nssf',$data)">
                {{curemployee.nssf || "NSSF #"}}
            </a>
          </td>
          <td>
            <a href="#" title="Click to edit: Marital Status" editable-select="curemployee.maritalstatus"
                    e-ng-options="maritalstatus.value as maritalstatus.text for maritalstatus in maritalstatuses"
                    onbeforesave="updateUser(curemployee.uid,'maritalstatus',$data)">
                    {{curemployee.maritalstatus|| "Marital Status"}}
            </a>
          </td>
        </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Religion" editable-select="curemployee.faith"
                  e-ng-options="religion.value as religion.text for religion in religions"
                  onbeforesave="updateUser(curemployee.uid,'faith',$data)">
                  {{curemployee.faith || "Religion"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Children" editable-number="curemployee.children"
              onbeforesave="updateUser(curemployee.uid,'children',$data)">
                {{curemployee.children|| "Children"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Insurance Provider" editable-text="curemployee.insurance"
                    onbeforesave="updateUser(curemployee.uid,'insurance',$data)">
                      {{curemployee.insurance || "Insurance Provider"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Insurance ID Number" editable-text="curemployee.insuranceNumber"
                onbeforesave="updateUser(curemployee.uid,'insuranceNumber',$data)">
                  {{curemployee.insuranceNumber || "Insurance ID #"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Degree" editable-text="curemployee.degree"
                onbeforesave="updateUser(curemployee.uid,'degree',$data)">
                  {{curemployee.degree || "Degree"}}
              </a>
            </td>
            <td>
              <a href="#" title="Click to edit: Specialization" editable-text="curemployee.degreeArea"
                onbeforesave="updateUser(curemployee.uid,'degreeArea',$data)">
                  {{curemployee.degreeArea || "Specialization"}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" title="Click to edit: Entrance Date" editable-date="curemployee.enteredCambodia"
                  onbeforesave="updateUser(curemployee.uid,'enteredCambodia',$data)">
                    {{curemployee.enteredCambodia || "Entrance Date"}}
              </a>
            </td>
            <td >
              <a href="#" title="Click to edit: Visa Expires" editable-date="curemployee.visaExpires"
                onbeforesave="updateUser(curemployee.uid,'visaExpires',$data)">
                {{curemployee.visaExpires || "Visa Expires"}}
              </a>
            </td>
          </tr>
          <tr style="border-bottom:1px solid #e5e5e5; vertical-align: top;">
            <td>
              Employed from:
            </td>
            <td>
                  <a href="#" title="Click to edit: Employment Start Date" editable-date="curemployee.startdate"
                  onbeforesave="updateUser(curemployee.uid,'startdate',$data)">
                      {{curemployee.startdate || "unknown"}}
                  </a> to
                  <a href="#" title="Click to edit: Employment End Date" editable-date="curemployee.enddate"
                  onbeforesave="updateUser(curemployee.uid,'enddate',$data)">
                      {{curemployee.enddate|| "present"}}
                  </a>
              <p><small>
                {{elist.timeBetween(curemployee.startdate, curemployee.enddate|| 'present')}}
              </small></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Notes:
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="#" title="Click to edit: Notes"editable-textarea="curemployee.notes"
                e-rows="7" e-cols="60"
                onbeforesave="updateUser(curemployee.uid,'notes',$data)">
                  <pre>{{curemployee.notes || 'no notes entered'}}</pre>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <reset-password id="show_resetpass" style="text-align:center;"></reset-password>
            </td>
        </tr>
    </table>
  </div>
  <!-- family tab -->

  <div class="row wrap_table_view"  ng-show="this.tab.isSet(4)" style="padding-left:0 !important;">
      <table class="table_view">
        <tbody ng-repeat="family_data in family_data">
          <tr>
              <td>
                <a href="#" title="Click to edit: {{family_data.relationship}} Surname" editable-text="family_data.sn"
                    onbeforesave="updateUser(curemployee.uid,'family_data',updateFamilyData($data,family_data.id,'sn'))">
                    {{family_data.sn || "N/A"}},
                </a>
                <a href="#" title="Click to edit: {{family_data.relationship}} First Name" editable-text="family_data.givenName"
                    onbeforesave="updateUser(curemployee.uid,'family_data',updateFamilyData($data,family_data.id,'givenName'))">
                    {{family_data.givenName || "N/A"}}
                </a>
              </td>
              <td>
                <a href="#" title="Click to edit: {{family_data.relationship}} Passport Number" editable-text="family_data.idnumber"
                onbeforesave="updateUser(curemployee.uid,'family_data',updateFamilyData($data,family_data.id,'idnumber'))">
                  {{family_data.idnumber || "Passport #"}}
                </a>
              </td>
          </tr>
          <tr style="border-bottom:1px solid #e5e5e5;">
              <td>
                <a href="#" title="Click to edit: {{family_data.relationship}} Nationality" editable-select="family_data.C"
                    e-ng-options="country.value as country.text for country in countries"
                    onbeforesave="updateUser(curemployee.uid,'family_data',updateFamilyData($data,family_data.id,'C'))">
                    {{family_data.C || "Nationality"}}
                </a>
              </td>
              <td>
                <a href="#" title="Click to edit: {{family_data.relationship}} Visa Expires" editable-date="family_data.v"
                onbeforesave="updateUser(curemployee.uid,'family_data',updateFamilyData($data,family_data.id,'VisaExpires'))">
                  {{family_data.VisaExpires || "Visa Expires"}}
                </a>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
  <!-- document tab -->
  <div class="row"  ng-show="this.tab.isSet(5)" style="padding-left:0 !important;">
      <form name="uploadDocForm" ng-submit="addImportFile()" class="form-horizontal" method="POST" enctype= "multipart/form-data" id="formUpload" >

        <table class="tbl_upload" style="width:100%; margin-bottom: 30px;">
          <tr>
            <td style="color:red;" colspan="2" ng-if="upload_sms">
              {{upload_sms}}
              <!-- {{curemployee}}{{employees}} -->
            </td>
          </tr>
          <tr>
            <td>
              Document type :
            </td>
            <td>
              <select style="width:150px;" id="myselect" name="type" ng-model="DocumentData.Documenttype" ng-options="documenttype as documenttype.text for documenttype in documentType" required>
                <option value="">--Document type--</option>
              </select>
            </td>
          </tr>
          <tr ng-if="DocumentData.Documenttype.value==16">
            <td>
              Description :
            </td>
            <td>
              <input type="text" ng-model="otherDoc.otherDocDescript" id="otherDoc" required/>
            </td>
          </tr>
          <tr>
            <td>
              Upload :
            </td>
            <td>
              <input type="file" id="file"  ng-model="filename" valid-file name="userUpload" required/>
            </td>
          </tr>
          <tr>
            <td>
              <input ng-disabled="uploadDocForm.$invalid" class="btn btn-primary" type="submit" value="Upload" name="uploadDoc" ng-model="uploadDoc"/>
            </td>
          </tr>
        </table>
        <table style="width:100%;">
          <tr>
            <th>Documents</th>
          </tr>
          <tbody ng-repeat="documents in document track by $index">
            <tr>
              <td>
                <a href="{{documents.data}}" target="_blank">{{documents.Description}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="width:100%;">
          <tr>
            <th>Other Documents</th>
          </tr>
          <tbody ng-repeat="document in other_documents track by $index">
            <tr>
              <td>
                <a href="{{document.data}}" target="_blank">{{document.Description}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <tr>
            <th>Missing Documents</th>
          </tr>
          <tbody>
            <tr>
              <td>
                <li ng-repeat="document in showMissingDocs(curemployee.documents, documentType)">
                             {{document.text}}
                </li>
              </td>
            </tr>
          </tbody>
        </table>

    </form>
  </div>
  <!-- group -->
  <div class="row"  ng-show="this.tab.isSet(6)" style="padding-left:0 !important;">
    <div class="table-responsive">
      <table class="table tbl_group ">
        <tr>
          <th>Description</th>
          <th>Mail</th>
          <th>Remove</th>
        </tr>
        <tr ng-repeat="curGroup in curGroups | orderBy:'cn'">
          <td>{{curGroup.cn}}</td>
          <td><a href="mailto:{{curGroup.mail}}" target="_blank">{{curGroup.mail}}</a></td>
          <!-- $scope.removeUserFromGroup=function(uid,field,data) -->
          <td>
            <a title="Click to : Remove employee from {{curGroup.cn}}" href ng-click="removeUserFromGroup(curemployee.uid,curGroup.cn,curemployee.uid) ; showGroup(curemployee.uid)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
      </tr>
      <tr>
        <td>
          Group
        </td>
        <td>
          <select id="group" ng-model="group_name" ng-options="group.cn as group.cn for group in groups" required>
            <option value="">--Choose group--</option>
          </select>
        </td>
        <td><button ng-disabled="!group_name" ng-click="addUserToGroup(curemployee.uid,group_name,curemployee.uid)  ; showGroup(curemployee.uid)" class="btn btn-primary">Add to Group</button></td>
      </tr>
      <tr>
        <td style="color:red;" colspan="3" ng-show="modifyGroupSms">{{modifyGroupSms}}</td>
      </tr>
      </table>
    </div>
  </div>
</div>
<!-- profile pic -->
<div class="center_div col-md-5 col-xs-5">
  <div class="row">
    <div ng-if="show_photo==true" class="center_div profile_pic" style="background-size:cover !important; background:#eee; background-image: url('files/{{curemployee.employeeNumber}}/{{curemployee.employeeNumber}}-{{curemployee.uid}}-Photo.jpg');"></div>
    <div ng-if="show_photo==false" class="center_div profile_pic" style="display:table; text-align:center; background:#eee;"><h3 style="display:table-cell; vertical-align:middle;">No Photo Available</h3></div>
  </div>
  <div class="row" style="margin-top:30px; position:relative;left: -6px;" >
      <div class="text-center col-md-6 col-xs-12 col-sm-6">
        <a target="_blank" href="templates/card.html?uid={{curemployee.uid}}&name={{curemployee.givenName}} {{curemployee.sn}}&id={{curemployee.employeeNumber}}&title={{curemployee.title}}&department={{curemployee.departmentNumber}}">
          <button  style="background:#488FCC; color:white;" id="btn_print_card" class="button center_div btn">
            Print ID card
          </button>
        </a>
        <br/><br/>
      </div>
      <div class="text-center col-md-6 col-xs-12 col-sm-6">
        <button style="background:#488FCC; color:white;" id="hide_resetpass" class="button showchpass center_div btn">
            <strong>Password Reset</strong>
        </button>
      </div>
  </div>
</div>


         <style>
            @media screen and (max-width: 800px) {
              .right{
                text-align: left;
              }
              #imagePreview{
                margin-left: 25%;
              }
              #goback{
                text-align: center;
              }
          }
          #show_resetpass{
            display: none;
          }
         </style>
         <script type="text/javascript">
            $('#hide_resetpass').click(function() {
              $(this).hide();
              $("#show_resetpass").show();
            });
         </script>
